.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: white;
}

.logo{
 width: 150px;
}

.footer-links{
  display: flex;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  color: #565656;
  font-weight: 300;   
}

.footer-links li{
  cursor: pointer;
}

.social-icon{
  display: flex;
  gap:40px;
  margin-top: 10px;
  color: #565656;
  margin-bottom: 10px;
}

.insta-icon{
  border-radius: 50%;
  border: 1px solid #565656;
  background-color: #565656;
  color: white; 
  margin-bottom: 20px;
}

hr{
  width: 70%;
}

.copyright{
  color: #565656;
  font-weight: 300;
}
